<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
          <!-- <a href="" class="brand-logo left">Menu</a> -->
          <div class="nav-menu">
            <!-- <% if (user) { %>
                <a href="/profile">Log Out</a>
            <% } %>        -->
                <a href="/home">Home</a>
                <!-- <a href="/owners">Search Owners</a> -->
                <a href="/pets">Search Pets</a>
                <a href="/playdates">Find Pet Playdates</a>
                <a href="/show">Profile</a>
                <a href="/pets/roulette">Roulette</a>

                <span>
                    <% if (user) { %>
                       <a href="/logout">Log Out</a>
                    <% } else { %>
                       <a href="/auth/google">Login with Google</a>
                    <% } %>
                </span>       
            </div>
    </nav>
  </div>