.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}
#home-hdr{
  display: flex;
  position: relative;
  justify-content: center;
  width: fit-content;
  margin: auto;
}
body{
  background-image: linear-gradient(to left, #b5642264, #d8bca42b);
  /* background-image: linear-gradient(to left, #b56422ba, #d8bca4); */
}
.pet-list{
padding: auto;
margin: auto;
/* display:table; */
}

.max-img2{
  background-image: url('../images/max.jpeg');
  height:500px;
  width: 33%;
  display: flex;
  margin: auto;
  align-content: center;
  position:relative;
  justify-self: center;
  padding-top: 30px;
  padding-left: 30px ;
  border-radius: 10px;
  image-rendering: optimizeQuality;
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  font-family: 'Merriweather', serif;
  font-size:20px;
  font-style: italic;

}

.owner-dog{
 height: 20px;
 margin-left: 20px;
 margin-top: 15px;
float: center;
/* right: 500px; */
}
.add-pet-list-playdate{
  color: red;
  margin: 10px;
  list-style: lower-greek;
}
.delete-from-playdate{
  display: inline;
  position: sticky;
  color: red;
 
}

/* //profile stuff here */
.show-profile{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-rows: auto;
  grid-template-areas: 
    "hdr edit"
    "pets playdates"
    "addPet addPlaydate";
}

.profile-edit-cont{
  display: grid;
  grid-area: edit;
  margin-top: -20px;
}
.profile-cont{
  display: grid;
  margin: 0;
  width: fit-content;
  grid-area: hdr;
}
.profile-pet-cont{
  margin-top:10px;
  display: grid;
grid-area: pets;

}
.profile-playdate-cont{
  display: grid;
grid-area: playdates;
}
.remove-from-playdate-list{
  display: grid;
 color: red;
 font-family: 'Merriweather', serif;
 font-size:12px;
 box-shadow: 4px 3px #56412b2b;
 display: inline;
}
.add-pet-cont{
  width: fit-content;
  display: grid;
  grid-area: addPet;
}
.add-playdate-cont{
  width: fit-content;
  display: grid;
  grid-area: addPlaydate;
}


.nav-wrapper{
  background-image: linear-gradient(to right, #b56422ba, #d8bca4);
  opacity: .7;
  border-radius: 5px;
}
.nav-wrapper-home{
  background-image: linear-gradient(to right, #b56422ba, #d8bca4);
  opacity: .7;
  border-radius: 5px;
}
.nav-menu{
  display: flex;
  justify-content: first baseline;
  max-width: 600px;
  padding: 10px;
  margin-right: 20px;
  font-family: 'Merriweather', serif;
  font-size:12px;
}
.nav-menu a{
  padding: 3px;
  background-color: #b87a3fbf;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
  justify-self: center;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 4px 3px #56412b2b;
  color: black;
  border: 1.5px solid black;
}
.nav-menu a:hover{
  background-color:plum;
  opacity: .5;
 
}
.nav-menu span{
  position: absolute;
  right: 30px;
  padding: 2px;
}
.button-edit {
  background-color: plum;
  border-radius: 5px;
  padding: 3.5px 15px;
  text-decoration: none;
  font-size: 10px;
  color: black;
  border: 1.5px solid black;
  box-shadow: 4px 3px #56412b2b;
  font-family: 'Merriweather', serif;
  }
.button {
background-color: #b87a3f79;
border-radius: 5px;
padding: 3.5px;
text-decoration: none;
font-size: 10px;
color: black;
border: 1.5px solid black;
box-shadow: 4px 3px #56412b2b;
font-family: 'Merriweather', serif;
}
a.button:hover {
  opacity: .5;
  position: relative;
}

.playdate-form{
/* background-color: green; */
fill: rosybrown;
} 
.playdate-form label{
  /* color: green; */

  }
.pet-form{

}

.max-txt{
  font-size: 18px;
  margin-top: 0px
}

.gradient-underline2 {
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
  /* font-size: 18px; */
  /* margin-top: 0px; */
}

.gradient-underline2::after {
  background: rosybrown;
  background: linear-gradient(to right, transparent 0%, plum 50%, transparent 100%);  
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 100%;
}

h1{
  font-family: 'Merriweather', serif;
  margin-left: 20px;
 }

 .gradient-underline {
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
}

.gradient-underline::after {
  background: rosybrown;
  background: linear-gradient(to right, transparent 0%, rosybrown 50%, transparent 100%);  
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

.edit-profile{
  position: absolute;
  right: 30px;
  padding: 2px;
  font-size: 12px;
}

.icon{
  display: none;
/* color: red; */
/* top: 50px; */
}



h4 {
border-radius: 0px;
/* width: 100%; */
display: flex;
justify-content: center;
margin-top: -10px;
font-family: 'Merriweather', serif;
font-style: italic;
font-size: small;

}

.intro{
  font-family: 'Merriweather', serif;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.73);
  /* width: 40px; */
  justify-content: center;
  align-content: left;
  margin-top: 10px;
}


footer{
position: absolute;
bottom:-200px;
display: flex;
justify-content: center;
padding-top: 15px;
width:100%;
height:5%;
background:#6cf;
background: linear-gradient(to right, transparent 0%, rosybrown 50%, transparent 100%);  
margin-top: auto;
margin: auto;
font-family: 'Merriweather', serif;
font-style: italic;
font-size: small;
} 

.submit{
text-decoration: none;
border: none;
color: black;
padding: 5px 10px;
display: inline;
margin-left: 20px;
display: inline-flex;
align-items: right;
}
.submit:hover{
  text-decoration: none;
  border: none;
  color: black;
  /* padding: 2px 5px; */
  opacity: .2;
  background-color: red;
  border-radius: 5px;

  }

  .playdate-index-table-header{

  }
  .petImageRendImgEdit{
    height: 200px
  }
  .pet-edit-cont{
display: flex;
justify-content: center;
  }

  #pet-edit-btn-div{
position: absolute;
margin: auto;
margin-top: 32px;
margin-left: 30px
  }
  .pet-show-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr; 
     grid-template-areas: 
     "locationT ageT genderT"
     "location age gender"
     "breedT sizeT fixedT"
     "breed size fixedRend";
     /* "image . about"; */
     margin: auto;
     align-items: left;
  }
  #petLocationEl{
    grid-area: locationT;
    margin: auto;
    justify-content: left;
  
  }
  #petLocationRend{
    grid-area: location;
    margin: auto;
  }
  #petAgeEl{
    grid-area: ageT;
    margin: auto;
  }
  #petAgeRend{
    grid-area: age;
    margin: auto;
  }
  #petGenderEl{
    grid-area: genderT;
    margin: auto;
  }
  #petGenderRend{
    grid-area: gender;
    margin: auto;
  }
  #petBreedEl{
    grid-area: breedT;
    margin: auto;
    margin-top: 20px;
  }
  #petBreedRend{
    grid-area: breed;
    margin: auto;
  }
  #petSizeEl{
    grid-area: sizeT;
    margin: auto;
    margin-top: 20px;
  }
  #petSizeRend{
    grid-area: size;
    margin: auto;
  }
  #petFixedEl{
    grid-area: fixedT;
    margin: auto;
    margin-top: 20px;
  }
  #petFixedRend{
    grid-area: fixedRend;
    margin: auto;
  }
  
  .pet-show-about-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr; 
     grid-template-areas: 
     "imageT aboutT"
     "image about";
  }
#petAboutEl{
  grid-area: aboutT;
  margin: auto;
  margin-top: 20px;
}
#petAboutRend{
  grid-area: about;
  margin: auto;
}
#petImageEl{
  grid-area: imageT;
  margin: auto;
  margin-top: 20px;
}
#petImageRend{
  grid-area: image;
  margin: auto;
}





  /* TABLE STYLES HERE */
  /* .pet-show-table{
table-layout: fixed;

  }


  .pet-show-hdr-show{
    padding: 5px 20px;
    text-align: left;
    }
  
  .pet-show-info-show{
    padding: 5px 20px;
    text-align: left;
    }  */

.pet-table-hdr-show{
  padding: 5px 20px;
  text-align: left;
  }

.pet-table-info-show{
  padding: 5px 20px;
  text-align: left;
  } 
.pet-table-hdr{
  padding: 10px 25px;
  text-align: left;
  }

.pet-table-info{
  padding: 10px 25px;
  text-align: left;
  }
.table-hdr{
  padding: 10px 25px;
  text-align: left;
  }

.table-info{
  padding: 10px 25px;
  text-align: left;
  }

.table-hdr{
  padding: 10px 25px;
  text-align: left;
  max-height: 0;
  -webkit-transition: max-height 1s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -ms-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
  }

.table-info{
  padding: 10px 25px;
  text-align: left;
  max-height: 0;
  -webkit-transition: max-height 1s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -ms-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
  }

  .petNameImg{
display: flex;
justify-content: center;
  }


  .home-div{
background-color: rgba(244, 165, 96, 0.778);
border-radius: 10px;
opacity: .8;
width: 70%;
padding:10px;
display: block;
justify-content: center;
margin: auto;

  }
  .home-div:hover{
opacity: 1;
  }
  .close-btn{
    border: solid black 1px;
    color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    left: 450px;
    margin: auto;
    margin-top: 35px;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    /* padding-left: 10px; */
    padding-top: 3px;
    text-decoration: none;
    opacity: .6;
    position: relative;
    width: 10px;
    /* height: fit-content; */

  }
  .close-btn:hover{
    opacity: 1;
    /* background-color: red; */
  }
  .imgCont{
    margin: auto;
    margin-top: 50px;
    display: flex;
    background-color: rosybrown;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    justify-content: center;
}
.imgShow{
  border-radius: 40px;
  padding: 20px;
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  height: 80vh;
}


.fadein {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

body.loaded.fadein {
    opacity: 1;
}
.petImageRendImg{
  height: 400px;
}



  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .nav-wrapper-home {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 0s 1 slideInFromLeft;
  
  }