.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.nav-wrapper{
  background-image: linear-gradient(to right, purple, rosybrown);
  opacity: .7;
  border-radius: 5px;
}
.nav-menu{
  display: flex;
  justify-content: space-around;
  max-width: 400px;
padding: 10px;
margin-right: 20px;
}
.nav-menu a{
  padding: 10px;
  background-color: rosybrown;
  border-radius: 5px;
  text-decoration: none;
 
}
.nav-menu a:hover{
  padding: 10px;
  background-color:plum;
  opacity: .5;
 
}
.nav-menu span{
  position: absolute;
  right: 30px;
  padding: 10px;
}
a.button {
background-color: rgba(188, 143, 143, 0.709);
border-radius: 5px;
padding: 5px;
text-decoration: none;
}
a.button:hover {
  opacity: .5;
}