<%- include('../partials/header') %>
 <%- include('../partials/nav') %>
 <h1><span id='home-hdr' class="gradient-underline">Welcome to Fur Friends</span></h1>
  <%- include('../partials/footer') %>

<div class='max-img2' src="" alt=""><h1 class='max-txt'><span class='gradient-underline2'>This is Max...</span></h1></div>

<div>
<p class='intro'>And he has changed my world, as most dogs do when they enter our families lives.</p>
<p class='intro'>I was compelled to make this app for him. 
    Its Just as it is important for our furry friends to socalize as us.</p>
    <p class='intro'> Sometimes it can be hard to find playdates and meetups for out furry friends to socialize, 
        espefially when they have..quirks.
    </p>
    <br>
    <p class='intro'>This meet-up app was designed to be able to help us find compatable playdates, 
        using the information of their breed, gender, age, size, behavorial quirks, etc.
        </p>
        <br>
        <p class='intro'>On behalf of Max and I, we hope you enjoy Doggo-Dating!</p>
</div>