<%- include('../partials/header') %>
 <%- include('../partials/nav') %>
 <h1><span id='home-hdr' class="gradient-underline">Welcome to Pup Friends!</span></h1>
  <%- include('../partials/footer') %>

<div class='max-img2' src="" alt="">This is Max...</div>