<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<h1>show landing page</h1>
<a href="/pets/new" class='button'>Add Pet</a>
<br>
<br>
<a href="/playdates/new" class='button'> Add Playdate</a>





 <%- include('../partials/footer') %>